SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password

OPENWEATHER_API_KEY=your_api_key

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/weather_db
REDIS_URL=redis://redis:6379
TELEGRAM_BOT_TOKEN=your_token_from_botfather